<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>PublicMap</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<link rel="stylesheet" type="text/css" href="../commonFiles/generalStyle.css">
	<link rel="stylesheet" type="text/css" href="publicmap.css">
	
	</head>
	<body>
	
		<script id="mapHeader" type="text/template">
			<%=name%>
		</script>

		<script id="listPublicMap" type="text/template">
			<li><div class="button" onclick="displayMap(<%= id %>)"><%= name %> </div>
			</li>
		</script>	

		<script id="listFavs" type="text/template">
				<li <% if(event==1) {%> class="event" <%}%>	><div class="button"	onclick="displayFav(<%= id %>)"><%= name %></div>
			</li>
		</script>

		<script id="favDetails" type="text/template">
			<div id="detail" class="top_div wrapper">
				<div class="button close" onclick="closeElement('viewFav')" >X</div>
				<div class="header">
					<h2 class="title"> 
						<%= name %>
					</h2>
					<p class="address"> Address </p>
				</div>
				<div class="description">
					<div class="descrip">
						<h3>Description</h3>
						<%= description%>
					</div>
					<div class="duration">
					<% if(event==1) {%> 
						<p>
							<h3>Duration</h3>
							<%=start%>
						</p>
					<%}%>	
					</div>
					<div classs="tags">
						<h3>Tags</h3>
						<%= label%> 
					</div>
				</div>
				<div class="pictures">
					<h3>Pictures <div class="button">+</di></h3>
				</div>
				<div classs="msg">
					<h3>Messages <div class="button">+</di></h3>
				</div>
				<div class="itinerary">
					<div  class="button" onclick="goTo(<%= position['x']%>,<%= position['y']%>)"><img src="../resources/Go.png" /></div>
				</div>
			</div>
		</script>

		<div id="toggle" class="button"></div>
		<div id="nav_bar">
			<h1 class="brand"><img class="logo" src="../resources/heart_localisation.png" height="40px" width="40px"/>
				ShareYourMap <a href="../home.html">X</a>
			</h1>
			<h2>Public maps</h2>
			<form class="search" action="/ws/mapsearch" method="GET" enctype="application/x-www-form-urlencoded">
				<input class="search_input" type="text" id="searchBar" name="search" placeholder="Search...">
			</form>
		
			<ul id="mapList"></ul>
			<ul id="favsList"></ul>
			<div class="button_group">
				<div  class="button" onclick="goTo(null,null)"><img src="../resources/buttonTravel_j.png" /></div>
				<a href="../viewmap/viewmap.html"><img src='../resources/buttonPerso.png'/></a>
			</div>
		</div>
				
		<div id="currentMap" hidden></div>
		<div id="viewFav"></div>
		<div id="map"></div>

		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script type="text/javascript" src="../commonFiles/displayElem.js"></script>
		<script type="text/javascript" src="publicmap.js"></script>
		
	</body>
</html>
