#currentMap {
  background-color:  #F7DD48;
}

#mapList li{
  border: 1px solid #F7DD48;
}

li:hover{
  background-color:  #F7DD48;
}

#favsList li {
  width: 87%;
  padding-left: 7%;
}