<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>PublicMap</title>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
		<link rel="stylesheet" type="text/css" href="../commonFiles/generalStyle.css">
		<link rel="stylesheet" type="text/css" href="publicmap.css">
	</head>
	<body>

		<script id="navigate" type="text/template">
			<a href="../viewmap/viewmap.html?uid=<%=uid%>"><img src='../resources/buttonPerso.png'/></a>
		</script>

		<script id="listPublicMap" type="text/template">
			<li id="<%= id %>" class="public_maps"><div class="button" onclick="displayMap(<%= id %>)"><%= name %> <i>by <%= creatorName%></i></div>
			</li>
		</script>	

		<script id="listFavs" type="text/template">
				<li <% if(event==1) {%> class="event" <%}%>	><div class="button" onclick="displayFav(<%= id %>)"><%= name %></div>
			</li>
		</script>

		<script id="favDetails" type="text/template">
			<div id="detail" class="top_div wrapper">
				<div class="button close" onclick="closeElement('viewFav')" >X</div>
				<div class="header">
					<h2 class="title"> 
						<%= name %>
					</h2>
					<div class="description">
						<div class="descrip">
							<h3>Description</h3>
							<%= description%>
						</div>
						<div class="duration">
						<% if(event==1) {%> 
							<p>
								<h3>Duration</h3>
							</p>
						<%}%>	
						</div>
					</div>
				</div>
				<div class="pictures">
					<h3>Pictures <div class="button" onclick="addPix()">+</div></h3>
					<ul id="pics"></ul>
					<div id="addPix" class="feed" hidden>
						<div class="button close" onclick="closeElement('addPix')" >X</div>
						<form action="/<%=uid%>/maps/location/<%=id%>/feed-img" method="POST" enctype="application/x-www-form-urlencoded">
							<p>Add a picture <input type="file" name="picture" accept="image/png, image/jpeg"> </p>
							<input onclick='closeElement('addPix') type="submit" value="Add">
						</form>
					</div>
				</div>
				<div classs="msg">
					<h3>Messages <div class="button" onclick="addMsg()">+</div></h3>
					<ul id="msgs"></ul>
					<div id="addMsg" class="feed" hidden>
						<div class="button close" onclick="closeElement('addMsg')" >X</div>
						<form action="/<%=uid%>/maps/location/<%=id%>/feed" method="POST" enctype="application/x-www-form-urlencoded">
							<p>Add a message <input type="text" name="message">
							<input onclick="closeElement('addMsg')" type="submit" value="Add">
						</form>
					</div>
				</div>
				<div classs="tags">
					<h3>Tags</h3>
					<%= label%> 
				</div>
				<div class="itinerary">
					<div class="button perso" onclick="howToGo()"><img src="../resources/Go_j.png" /></div>
					<div id="meanTransp" class="perso" hidden>
						<div  class="button perso" onclick="goTo(<%= position['x']%>,<%= position['y']%>,'car')"><img src="../resources/car_j.png" /></div>
						<div  class="button perso" onclick="goTo(<%= position['x']%>,<%= position['y']%>,'train')"><img src="../resources/train_j.png" /></div>
						<div  class="button perso" onclick="goTo(<%= position['x']%>,<%= position['y']%>,'foot')"><img src="../resources/foot_j.png" /></div>
					</div>
				</div>
			</div>
		</script>

		<div id="toggle" class="button"></div>
		<div id="nav_bar">
			<h1 class="brand"><img class="logo" src="../resources/heart_localisation.png" height="40px" width="40px"/>
				Public maps <a href="../home.html">X</a>
			</h1>
			<div class="search">
				<input class="search_input" type="text" id="searchBar" name="search" placeholder="Search...">
			</div>
		
			<ul id="mapList"></ul>
			<ul id="favsList"></ul>
			<div class="button_group">
				<div class="button" onclick="howToGoFull()"><img src="../resources/buttonTravel_j.png" /></div>
				<div id="meanTranspFull">
					<div  class="button perso" onclick="goTo(null,null,'car')"><img src="../resources/car_j.png" /></div>
					<div  class="button perso" onclick="goTo(null,null,'train')"><img src="../resources/train_j.png" /></div>
					<div  class="button perso" onclick="goTo(null,null,'foot')"><img src="../resources/foot_j.png" /></div>
				</div>
				<div id="viewmap"></div>
			</div>
		</div>
		
		<div id="currentMap" hidden></div>
		<div id="viewFav"></div>
		<div id="map"></div>
		<div id="geoLoc" class="button" onclick="centerMe()"><img src='../resources/geo_j.png'/></div>

		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
		<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
		<script type="text/javascript" src="../commonFiles/displayElem.js"></script>
		<script type="text/javascript" src="publicmap.js"></script>
		
	</body>
</html>
