<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>ShareMap</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	<link rel="stylesheet" type="text/css" href="../src_share_your_map/css/bootstrap.css">
	</head>
	<body>
	
		<script id="mapHeader" type="text/template">
			<h2><%=name%></h2>
		</script>

		<script id="listFavs" type="text/template">
			<li>
				<button 
				<% if(event==1) {%> class="event" <%} else{ %> class="location" <%}%>			
				onclick="displayFav(<%= id %>)"><%= name %> </button></li>
		</script>

		<script id="favDetails" type="text/template">
			<h1>
				<%= name %>
				<button onclick="closeElement('viewFav')">X</button>
			</h1>
			<p>Adresse</p>
			<p> 
				<h2>Description</h2>
				<%= description%>
			</p>
			<% if(event==1) {%> 
			<p>
				<h2>Duration</h2>
				From <%= starting%> To <%= ending%>
			</p>
			<%}%>	
			<p> 
				<h2>Tags</h2>
				<%= label%>
			</p>
			<p>
				<h2>Pictures</h2>
			</p>
		</script>
		
		<div>
			<div>
				<h1><img class="logo" src="../resources/heart_localisation.png" height="40px" width="40px"/>
					ShareYourMap <button id="sign_out" onClick="document.location='../home.html'"><b>Home</b></button>
				</h1>
				<a href="../home.html">Home</a>
			</div>
			<div id="currentMap"></div>
			<div id="viewCurrentMap">
				<ul id="favsList"></ul>
				<div id="viewFav"></div>
			</div>
			<div id="map" style="height: 450px; width: 400px"></div>
		</div>
		
	    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script type="text/javascript" src="../commonFiles/displayElem.js"></script>
		<script type="text/javascript" src="sharemap.js"></script>
		
	</body>
</html>