<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>PublicMap</title>
	</head>
	<body>

		<script id="listLocation" type="text/template">
			<li><button onclick="displayLocation(<%= id %>)"> <%= name %> </button></li>
		</script>

		<script id="listPublicMap" type="text/template">
					<li><button class="publicMap" onclick="displayMap(<%= id %>)"> <%= name %> </button></li>
		</script>		

		<script id="locationDetails" type="text/template">
			<h1>
				<%= name %>
				<button id="closeLocation" onclick="closeLocation()" >X</button>
			</h1>
			<p> Adresse </p>
			<h2>Description</h2>
			<p> <%= description%> </p>
			<h2>Tags</h2>
			<p> <%= label%> </p>
			<h2>Pictures</h2>
			<p></p>
		</script>

		<div>
			<div>
				<h1>ShareYourMap</h1>
				<button id="sign_out" onClick="document.location='home.html'">X</button>
				<h2>Public maps</h2>
				<p>
					Search map
					<input type="text" id="searchBar" name="searchBar">		
					<button id="searchMap">GO</button>
				</p>
				
				<div>
					<ul id="mapsList"></ul>
				</div>
				<div>
					<button id="viewMap" onClick="document.location='viewmap.html'">View my maps</button>
				</div>
			</div>
			
			
			<div>
				<div>
					<div id="currentMap"></div>
					<div id="viewCurrentMap">
						<ul id="favsList"></ul>
						<div id="locationPage"></div>
					</div>
				</div>
			</div>
		</div>
		
	    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script type="text/javascript" src="publicmap.js"></script>
		
		
	</body>
</html>