<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title id="pageName"></title>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
		<link rel="stylesheet" type="text/css" href="../commonFiles/generalStyle.css">
		<link rel="stylesheet" type="text/css" href="viewmap.css">
	</head>
	<body>
		
		<script id="header_user" type="text/template">
			<img class="logo" src="../resources/heart_localisation.png" height="40px" width="40px"/>
			<%= name%>'s maps <img onclick="bye()" class="button" src="../resources/sign.png"/>
		</script>

		<script id="editUserTemplate" type="text/template">
			<div class="edit top_div">
				<div class="name">
					<h1>
						<%=name%>
						<div onclick="deleteUser()" class="button"><img src="../resources/trash.png"/></div>
					</h1>
					<h3>Change your password <input type="checkbox" id="editUserCheck" onclick="psw()"/> </h3>
				</div>
				<div class="button close" onclick="closeElement('editUser')" >X</div>
				<div id="editMpd" class="mdp" hidden>
					<input type="password" id="opsw" placeholder="Old password"/>
					<input type="password" id="npsw" placeholder="New password"/>
					<input type="password" id="cpsw" placeholder="Confirm password"/> <button onclick="editUser()">Edit</button>
				</div>
			</div>
		</script>

		<script id="navigate" type="text/template">
			<a href="../publicmap/publicmap.html?uid=<%=uid%>"><img src='../resources/buttonPublic.png'/></a>
		</script>

		<script id="listMap" type="text/template">
			<li id="<%= id %>" class="my_maps">
				<div id="mapPerso ">
					<div class="button perso" class="map" onclick="displayMap(<%= id %>)"><%= name %> <% if(access){%> <i>- Public </i><%}%>  </div> 
					<div class="option" hidden>
						<div class="button perso" onclick="divEditMap(<%= id %>)"><img src="../resources/edit_b.png" /></div> 
						<div class="button perso" onclick="shareMap(<%= id %>,'<%= sharedID%>')"><img src="../resources/share_b.png" /></div> 
						<div class="button perso" id="deleteMap" onclick="deleteMap(<%= id %>)" style="color:black"> X </div> 
					</div>
				</div>
			</li>
		</script>
		
		<script id="listFavs" type="text/template">
			<li <% if(event==1) {%> class="event" <%}%> >
				<div class="button perso" onclick="deleteFav(<%= id %>)">X</div>
				<div class="button perso" onclick="displayFav(<%= id %>)"><%= name %> </div>
			</li>
		</script>

		<script id="newMapTemplate" type="text/template">
			<div class="top_div">
				<h2>New map <div class="button close" onclick="closeElement('viewMap')" >X</div></h2>
				Map's name <input id="map_name" type="text" placeholder="Name" name="name">
				<button onclick="createMap()">Create</button>
			</div>
		</script>

		<script id="editMapTemplate" type="text/template">
			<div class="top_div">
				<h2><%=name%> <div class="button close" onclick="closeElement('viewMap')" >X</div></h2>
				Map's name <input type="text" id="edit_name" value="<%=name%>">
				Public map <input type="checkbox" id="edit_access">
				<button onclick="editMap(<%=id%>)">Edit</button>
			</div>
		</script>


		<script id="shareMapTemplate" type="text/template">
			<div class="top_div">
				<div class="button" onclick="closeElement('shareMap')" >X</div>			
				<p>You can share this map with the following link :</p>
				<input type="text" value="<%= link %>" id="shareLink"/> <button onclick="copyLink()">Copy</button>
			</div>
		</script>

		<script id="favDetails" type="text/template">
			<div id="detail" class="top_div wrapper">
				<div class="button close" onclick="closeElement('viewFav')" >X</div>
				<div class="header">
					<h2 class="title"> 
						<%= name %><div class="button perso" onclick="showEditFav(<%= mid %>)"><img src="../resources/edit_b.png" /></div> 
					</h2>
					<div class="description">
						<div class="descrip">
							<h3>Description</h3>
							<%= description%>
						</div>
						<div class="duration">
						<% if(event==1) {%> 
							<p>
								<h3>Duration</h3>
								From the <b><%=start['dayOfMonth']%>-<%=start['monthValue']%>-<%=start['year']%></b> (<%=start['dayOfWeek']%>) at <b><%=start['hour']%>:<%=start['minute']%></b><br>To the <b><%=end['dayOfMonth']%>-<%=end['monthValue']%>-<%=end['year']%></b> (<%=end['dayOfWeek']%>) at <b><%=end['hour']%>:<%=end['minute']%></b>
							</p>
						<%}%>	
						</div>
					</div>
				</div>
				<div class="pictures">
					<h3>Pictures <div class="button" onclick="addPix()">+</div></h3>
					<div id="pics"></div>
					<div id="addPix" class="feed" hidden>
						<div class="button close" onclick="closeElement('addPix')" >X</div>
						<form action="/<%=uid%>/maps/location/<%=id%>/feed-img" method="POST" enctype="application/x-www-form-urlencoded">
							<p>Add a picture <input type="file" name="picture" accept="image/png, image/jpeg"> </p>
							<input onclick='closeElement('addPix') type="submit" value="Add">
						</form>
					</div>
				</div>
				<div class="msg">
					<h3>Messages <div class="button" onclick="addMsg()">+</div></h3>
					<div id="msgs"></div>
					<div id="addMsg" class="feed" hidden>
						<div class="button close" onclick="closeElement('addMsg')" >X</div>
						<p>Add a message <input type="text" id="message">
						<button onclick="sendMsg(<%=id%>)">Send</button>
					</div>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<%= label%> 
				</div>
				<div class="itinerary">
					<div class="button perso" onclick="howToGo()"><img src="../resources/Go.png" /></div>
					<div id="meanTransp" class="perso" hidden>
						<div  class="button perso" onclick="goTo(<%= position['x']%>,<%= position['y']%>,'car')"><img src="../resources/car_r.png" /></div>
						<div  class="button perso" onclick="goTo(<%= position['x']%>,<%= position['y']%>,'train')"><img src="../resources/train_r.png" /></div>
						<div  class="button perso" onclick="goTo(<%= position['x']%>,<%= position['y']%>,'foot')"><img src="../resources/foot_r.png" /></div>
					</div>
				</div>
			</div>
		</script>

		<script id="newFavTemplate" type="text/template">
			<div class="top_div">
				<h2>New fav <div class="close button" onclick="closeElement('viewFav')" >X</div></h2>
				<p>Fav's name <input type="text" id="new_name"></p>
				<p>Description <input type="text" id="new_description">
				Label <input type="text" id="new_label"></p>
				Event <input type="checkbox" id="event" onclick="displayEvent()"/>
				<p id="eventElem" hidden>
					Start <input type="datetime-local" id="new_start" placeholder="YYYY-MM-DD HH:MM:SS">
					End <input type="datetime-local" id="new_end" placeholder="YYYY-MM-DD HH:MM:SS">
				</p>
				<button onclick='newFav(<%=x%>,<%=y%>)'>Create</button>
			</div>
		</script>
		

		<script id="editFavTemplate" type="text/template">
			<div class="top_div">
				<h2>Edit fav <div class="close button" onclick="closeElement('viewFav')" >X</div></h2>
				<p>Fav's name <input type="text" id="edit_name" value="<%= name %>"></p>
				<p>Description <input type="text" id="edit_description" value="<%= description%>">
				Label <input type="text" id="edit_label" value="<%= label%>"></p>
				<% if(event==1){ %>
					<p>Start <input type="datetime-local" id="edit_start" value="<%=start['dayOfMonth']%>-<%=start['monthValue']%>-<%=start['year']%> <%=start['hour']%>:<%=start['minute']%>:00" placeholder="YYYY-MM-DD hh-mm-ss">
					End <input type="datetime-local" id="edit_end" value="<%=end['dayOfMonth']%>-<%=end['monthValue']%>-<%=end['year']%> <%=end['hour']%>:<%=end['minute']%>:00" placeholder="YYYY-MM-DD hh-mm-ss"></p>
				<% } %>
				<button onclick='editFav(<%=id%>,<%event==1%>)'>Edit</button>
			</div>
		</script>

		<div id="toggle" class="button"></div>
		<div id="nav_bar">
			<h1 id="userName" class="brand button"></h1>
			<div class="search">
				Favs <input class="search_input" type="text" id="searchBar" name="search" value="" placeholder="Search...">
			</div>

			<ul id="mapList"></ul>
			<ul id="favsList"></ul>
		
			<div class="button_group">
				<div id="newMap" class="button icon"><img src="../resources/buttonAddMap.png" /></div>
				<div class="button" onclick="howToGoFull()"><img src="../resources/buttonTravel_r.png" /></div>
				<div id="meanTranspFull">
					<div  class="button perso" onclick="goTo(null,null,'car')"><img src="../resources/car_r.png" /></div>
					<div  class="button perso" onclick="goTo(null,null,'train')"><img src="../resources/train_r.png" /></div>
					<div  class="button perso" onclick="goTo(null,null,'foot')"><img src="../resources/foot_r.png" /></div>
				</div>
				<div id="publicmap"></div>
			</div>
		</div>
		
		<div id="leaflet">
			<div id="editUser" hidden></div>
			<div id="map"></div>
			<div id="currentMap" hidden></div>
			<div id="viewFav"></div>
			<div id="shareMap" hidden></div>
			<div id="viewMap" class="closable"></div>
			<div id="geoLoc" class="button" onclick="centerMe()"><img src='../resources/geo_r.png'/></div>
		</div>

		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
		<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
		<script type="text/javascript" src="../commonFiles/displayElem.js"></script>
		<script type="text/javascript" src="viewmap.js"></script>
		
	</body>
</html>