<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>ViewMap</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
 
	</head>
	<body>
	
		<script id="mapHeader" type="text/template">
			<h2><%=name%></h2>
			<button onclick="createFav(1)">Create a new Fav</button>
		</script>

		<script id="listMap" type="text/template">
			<li> <button class="map" onclick="displayMap(<%= id %>)"> <%= name %> </button> <button onclick="editMap(1,1)">Edit</button> <button id="deleteMap"  onclick="deleteMap(1,1)"> X </button> </li>
		</script>

		<script id="listFavs" type="text/template">
			<li>
				<button onclick="displayFav(<%= id %>)"> <%= name %> </button> <button onclick="deleteFav(1,1,<%= id %>)">X</button>
				<br>Short description
			</li>
		</script>

		<script id="newMapTemplate" type="text/template">
			<h1>New map <button onclick="closeMap()" >X</button></h1>
			<form action="/ws/users/<%= uid %>/maps" method="POST" enctype="application/x-www-form-urlencoded">
				Map's name <input type="text" name="name">
				Public map <input type="checkbox" name="access" value="1">
				<input type="submit" value="Create">
			</form>
		</script>

		<script id="editMapTemplate" type="text/template">
			<h1>CurrentMap <button onclick="closeMap()" >X</button></h1>
			<form action="/ws/users/<%= uid%>/maps/<%= mid%>" method="POST" enctype="application/x-www-form-urlencoded">
				Map's name <input type="text" name="name" value="name">
				Public map <input type="checkbox" name="access" value="true">
				<input type="submit" value="Edit">
			</form>
		</script>

		<script id="favDetails" type="text/template">
			<h1> 
				<%= name %>
				<button onclick="closeFav()" >X</button>
			</h1>
			<p> Adresse </p>
			<h2>Description</h2>
			<p> <%= description%> </p>
			<h2>Tags</h2>
			<p> <%= label%> </p>
			<h2>Pictures</h2>
			<p></p>
		</script>
		
		<script id="newFavTemplate" type="text/template">
			<h1>New fav <button onclick="closeFav()" >X</button></h1>
			<form action="/ws/users/1/maps/1/location?x=3.453&y=2.434" method="POST" enctype="application/x-www-form-urlencoded">
				Fav's name <input type="text" name="name">
				Description <input type="text" name="description">
				Label <input type="text" name="label">
				<input type="submit" value="Create">
			</form>
		</script>

		<div>
			<div>
				<h1>ShareYourMap</h1>
				<button id="sign_out" onClick="document.location='home.html'">X</button>
				<div id="userName"></div>
				<form action="/ws/location" method="GET" enctype="application/x-www-form-urlencoded">
					Search favorites <input type="text" id="searchBar" name="search">
					<input type="submit" id="sign_in" value="Search"/>
				</form>
				
				<div>
					<ul id="mapList"></ul>
				</div>
				
				<div>
					<button id="publicMap" onClick="document.location='../publicmap/publicmap.html'">View public maps</button>
					<button onclick="createNewMap(1)">Create a new map</button>
				</div>
			</div>
			<div>
				<div id="currentMap"></div>
				<div id="viewCurrentMap">
					<div id="favsList"></div>
					<div id="viewFav" hidden></div>
					<div id="viewMap" hidden></div>
				</div>
			</div>
			<div id="map" style="height: 450px; width: 400px"></div>
		</div>
		
	    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script type="text/javascript" src="../commonFiles/displayElem.js"></script>
		<script type="text/javascript" src="viewmap.js"></script>
		
		
	</body>
</html>