#currentMap {
  background-color: #e74c4d;
}

li:hover{
    background-color: #e74c4d;
    color: black;
}

.option {
  display: none;
  transition-delay: 0.5s;
}

li:hover .option {
  display: inline;
}
