<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>ViewMap</title>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
		<link rel="stylesheet" type="text/css" href="../commonFiles/generalStyle.css">
		<link rel="stylesheet" type="text/css" href="viewmap.css">
	</head>
	<body>

		<script id="listMap" type="text/template">
			<li>
				<div id="mapPerso ">
					<div class="button perso" class="map" onclick="displayMap(<%= id %>)"><%= name %> </div> 
					<div class="option" hidden>
						<div class="button perso" onclick="editMap(<%= id %>)"><img src="../resources/edit_b.png" /></div> 
						<div class="button perso" onclick="shareMap(<%= id %>,'<%= sharingID%>')"><img src="../resources/share_b.png" /></div> 
						<div class="button perso" id="deleteMap" onclick="deleteMap(<%= id %>)" style="color:black"> X </div> 
					</div>
				</div>
			</li>
		</script>
		
		<script id="mapHeader" type="text/template">
			<%=name%>
		</script>
		
		<script id="listFavs" type="text/template">
			<li <% if(event==1) {%> class="event" <%}%> ><div class="button perso"
				onclick="displayFav(<%= id %>)"><%= name %> </div> 
				<div class="button perso" onclick="deleteFav(<%= id %>)">X</div>
			</li>
		</script>

		<script id="newMapTemplate" type="text/template">
			<div class="top_div">
				<h2>New map <div class="button close" onclick="closeElement('viewMap')" >X</div></h2>
				Map's name <input id="map_name" type="text" placeholder="Name" name="name">
				<button onclick="createMap()">Create</button>
			</div>
		</script>

		<script id="editMapTemplate" type="text/template">
			<div class="top_div">
				<h2><%=name%> <div class="button close" onclick="closeElement('viewMap')" >X</div></h2>
				<form action="/ws/users/<%=uid%>/maps/<%=id%>" method="POST" enctype="application/x-www-form-urlencoded">
					Map's name <input type="text" name="name" value="<%=name%>">
					Public map <input type="checkbox" name="access" value="1" checked>
					<input onclick='window.location.reload(false)' type="submit" value="Edit">
				</form>
			</div>
		</script>	

		<script id="shareMapTemplate" type="text/template">
			<div class="top_div">
				<div class="button" onclick="closeElement('shareMap')" >X</div>			
				<p>You can share this map with the following link :</p>
				<p><%= link %></p>
			</div>
		</script>

		<script id="favDetails" type="text/template">
			<div id="detail" class="top_div wrapper">
				<div class="button close" onclick="closeElement('viewFav')" >X</div>
				<div class="header">
					<h2 class="title"> 
						<%= name %>
					</h2>
					<p class="address"> Address </p>
				</div>
				<div class="description">
					<div class="descrip">
						<h3>Description</h3>
						<%= description%>
					</div>
					<div class="duration">
					<% if(event==1) {%> 
						<p>
							<h3>Duration</h3>
						</p>
					<%}%>	
					</div>
					<div classs="tags">
						<h3>Tags</h3>
						<%= label%> 
					</div>
				</div>
				<div class="pictures">
					<h3>Pictures <div class="button">+</di></h3>
				</div>
				<div classs="msg">
					<h3>Messages <div class="button">+</di></h3>
				</div>
				<div class="itinerary">
					<div  class="button" onclick="goTo(<%= position['x']%>,<%= position['y']%>)"><img src="../resources/Go.png" /></div>
				</div>
			</div>
		</script>
		
		<script id="newFavTemplate" type="text/template">
			<div class="top_div">
				<h2>New fav <div class="close button" onclick="closeElement('viewFav')" >X</div></h2>
				<form action="/ws/users/<%= uid %>/maps/<%= mid %>/location?x=<%= x %>&y=<%= y %>" method="POST" enctype="application/x-www-form-urlencoded">
					<p>Fav's name <input type="text" name="name"></p>
					<div id="address_input" hidden>Address <input type="text" name="address"></div>
					<p>Description <input type="text" name="description">
					Label <input type="text" name="label"></p>
					<p>Start <input type="datetime-local" name="start">
					End <input type="datetime-local" name="end"></p>
					<input type="file" id="myfile" name="myfile" accept="image/png, image/jpeg">
					<input onclick='window.location.reload(false)' type="submit" value="Create">
				</form>
			</div>
		</script>

		<script id="itineraryTemplate" type="text/template">
		</script>

		<div id="toggle" class="button"></div>
		<div id="nav_bar">
			<h1 class="brand"><img class="logo" src="../resources/heart_localisation.png" height="40px" width="40px"/>
				ShareYourMap <a href="../home.html">X</a>
			</h1>
			<div id="userName"></div>
			<form class="search" enctype="application/x-www-form-urlencoded">
				Favs <input class="search_input" type="text" id="searchBar" name="search" value="" placeholder="Search...">
			</form>
				
			<ul id="mapList"></ul>
				
			<ul id="favsList"></ul>
		
			<div class="button_group">
				<div class="button icon" onclick="createNewMap()"><img src="../resources/buttonAddMap.png" /></div>
				<div  class="button" onclick="goTo(null,null)"><img src="../resources/buttonTravel_r.png" /></div>
				<a href="../publicmap/publicmap.html"><img src='../resources/buttonPublic.png'/></a>
			</div>
		</div>
		<div id="map"></div>
		<div id="currentMap" hidden></div>
		<div id="viewFav"></div>
		<div id="shareMap" hidden></div>
		<div id="viewMap" class="closable"></div>
		<div id="newFav" onclick="createNewFav(0,0)" class="button" hidden><img src='../resources/fav.png'/></div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
		<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
		<script type="text/javascript" src="../commonFiles/displayElem.js"></script>
		<script type="text/javascript" src="viewmap.js"></script>
		
		
	</body>
</html>