#currentMap {
  background-color: #e74c4d;
}

li:hover{
    background-color: #e74c4d;
    color: black;
}

#newFav {
  position: fixed;
  bottom:5px;
  right:5px;
  z-index: 2;
}

.option {
  display: none;
  transition-delay: 0.5s;
}

li:hover .option {
  display: inline;
}
